.App {
  width: 100vw;
  height: 100vh;
}

header.small {
  position: relative;
  height: 240px;
  background-image: url("./assets/images/bg-main-mobile.png");
}

main.small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 240px);
}

main.large,
header.large {
  display: none;
}

header.large {
  position: relative;
  width: 30%;
  background-image: url("./assets/images/bg-main-desktop.png");
}

main.large {
  justify-content: center;
  align-items: center;
  width: 70%;
}

@media (min-width: 1024px) {
  .App {
    display: flex;
  }

  header.small,
  main.small {
    display: none;
  }

  main.large {
    display: flex;
  }

  header.large {
    display: block;
  }
}
